/* ---------- Стили для kinnybingo.html ---------- */

/* Стили для кнопки "Визуальная копилка" на странице kinnybingo.html */
.back-button {
    display: block;          /* Делаем ссылку блочным элементом */
    text-align: center;     /* Центрируем текст */
    text-decoration: underline; /* Добавляем подчеркивание */
    font-size: 2em;          /* Увеличиваем размер шрифта */
    margin: 0 auto;          /* Центрируем элемент по горизонтали */
    width: fit-content;      /* Подгоняем ширину под содержимое */
}

/* Стили для текста-вступления на странице kinnybingo.html */
.intro p { /* Применяем стили к параграфу внутри .intro */
  margin-bottom: 20px;
  font-size: 1.2em; /* Увеличиваем размер текста */
}

/* Стили для секции с фотографиями на странице kinnybingo.html */
.character-section {
  text-align: center; /* Выравнивание заголовка и изображений по центру */
}

/* Стили для заголовка "Преступление и наказание" */
.character-title {
  font-size: 2.5em; /* Увеличиваем размер заголовка */
  margin-bottom: 10px; /* Добавляем отступ снизу */
}

.image-container {
  margin-top: 10px; /* Отступ от заголовка */
  text-align: left; /* Возвращаем выравнивание изображений по левому краю */
  margin-left: auto;  /*  Выравниваем блок по центру */
  margin-right: auto; /*  Выравниваем блок по центру */
  width: 700px; /*  Чтобы контейнер не растягивался на всю ширину */
}

.image-container img {
  margin-bottom: 15px; /* Отступ между изображениями */
  display: block; /* Чтобы margin-bottom работал корректно */
}
