/* Стили для страницы "Проблема чтения" */

.header-text {
    color: #fff;
    font-size: 1.8em;
}

.reading-problem-main {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.problem-description p {
    font-size: 1.2em; /* Уменьшенный размер шрифта */
    line-height: 1.6;
}

.images-section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; /* Уменьшили отступ */
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0 10px;
}

.image-container {
    width: 45%; /* Уменьшенная ширина изображений */
}

.image-container.right {
    margin-right: 0;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
