/* Стили для страницы "Проблема чтения" */

.header-text {
    color: #fff;
    font-size: 1.8em; /* Увеличенный размер шрифта */
}

.reading-problem-main {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    /* position: relative;  Делаем main контейнером для абсолютного позиционирования images-section */
    /* min-height: 70vh;  Устанавливаем минимальную высоту для main */
}

.problem-description p {
    font-size: 1.4em;
    line-height: 1.6;
}

.images-section {
    display: flex;
    justify-content: space-between; /* Распределяем пространство между изображениями */
    margin-top: 50px; /* Увеличим отступ от текста */
    /* position: absolute;  Абсолютное позиционирование */
    position: relative;
    bottom: 0; /* Прижимаем к низу страницы */
    width: 100%; /* Растягиваем на всю ширину */
    padding: 0 10px; /* Добавляем немного отступов по бокам */
}

.image-container {
    width: 48%; /* Чтобы изображения занимали примерно половину ширины */
}

.image-container.right {
    margin-right: 0; /* Убираем отступ справа у второго изображения */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
