body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Стили для шапки сайта */
.site-header {
    background-color: #A0522D;
    color: #fff;
    padding: 20px 0;
    position: relative;
}

.header-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header h1 {
    font-size: 2.5em;
    margin: 0;
    order: 2; /* Помещаем заголовок в середину */
}

/* Стили для кнопок в шапке */
.header-button {
    background-color: #800080;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1em;
    order: 1; /* Помещаем кнопки по краям */
}

.header-button.right {
    order: 3; /* Помещаем правую кнопку в конец */
}

/* Стили для основного контента */
main {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.intro p {
    font-size: 1.4em;
    line-height: 1.6;
}

/* Стили для секции со способами */
.featured-ways {
    margin-top: 30px;
}

/* Стили для фонового изображения */
.bottom-image {
    width: 100%;
    height: 33.33vh;
    opacity: 0.75;
}

.bottom-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
